* {
    font-family: 'Montserrat', sans-serif;
}

.about-container {
    margin: 100px 0 100px;
  }
  
.content-wrapper {
    flex-grow: 1;
    widh: 1024px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
 }

.small-wrapper {
    width: 502px;
    max-width: 90%;
    margin: 0 auto;
  }

.about {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.about .name {
    color: #4169E1;
    font-weight: bold;
    font-weight: 400;
}

.personal-image {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    max-width: 100%;
    border-radius: 1000%;
}
